.form__section {
    display: grid;
    place-items: center;
    height: 90vh;
}

.post__form-section {
    height: 130vh;
}

.edit-user__form-section {
    height: 100;
}

.form__section-container {
    width: var(--form-width);
}

.alert__message {
    margin-bottom: 1rem;
    border-radius: var(--border-radius-2);
    padding: 0.8rem  1.4rem;


}

.alert__message.error{
    background: var(--color-red-light);
    color: var(--color-red);
}

.alert__message.success{
    background: var(--color-green-light);
    color: var(--color-green);
}


.alert__message.lg {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__control {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.form__control.inline {
    flex-direction: row;
    align-items: center;
}

input, textarea, select {
    padding: 0.8rem 1.4rem;
    background: var(--color-gray-900);
    border-radius: var(--border-radius-2);
    resize: none;
    color: var(--color-white);
}

.form__section small {
    margin-top: 1rem;
    display: block;
}

.form__section small a {
    color: var(--color-primary);
}

/* **************************************RESPONSIVENESS*************************************** */
/* ***********************************medium 
devices**************************** */

@media screen and (max-width: 1024px) {

    .form__section-container {
        width: 80%;
    }

}


/* ***********************************small 
devices**************************** */

@media screen and (max-width: 600px) {

    .form__section-container {
        width: 80%;
    }
}
